---
layout: default
title: Blog
---
<div class="container mx-auto px-4 py-8">
    <div class="text-center mb-12">
        <h1 class="text-4xl md:text-5xl font-bold text-orange-600 dark:text-orange-400">Blog</h1>
    </p>
    </div>
    <div class="flex flex-col md:flex-row -mx-4">
        <main class="w-full md:w-3/4 lg:w-4/5 px-4">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
                {% for post in site.posts %}
                <div class="bg-white dark:bg-gray-800 rounded-xl overflow-hidden shadow-md hover:shadow-lg flex flex-col">
                    {% if post.image %}<a href="{{ post.url | relative_url }}"><img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="h-48 w-full object-cover"></a>{% endif %}
                    <div class="p-6 flex flex-col flex-grow">
                        <div class="flex items-center text-sm text-gray-500 dark:text-gray-400 mb-1">
                            <p>
                                {% assign m = post.date | date: "%-m" %}{{ post.date | date: "%d" }} de {% case m %}{% when '1' %}Janeiro{% when '2' %}Fevereiro{% when '3' %}Março{% when '4' %}Abril{% when '5' %}Maio{% when '6' %}Junho{% when '7' %}Julho{% when '8' %}Agosto{% when '9' %}Setembro{% when '10' %}Outubro{% when '11' %}Novembro{% when '12' %}Dezembro{% endcase %} de {{ post.date | date: "%Y" }}
                            </p>
                            {% include reading_time.html content=post.content %}   
                        </div>
                        <h3 class="text-xl font-semibold mb-2 flex-grow">
                            <a href="{{ post.url | relative_url }}" class="text-gray-800 dark:text-white hover:text-orange-500 dark:hover:text-orange-400">{{ post.title }}</a>
                        </h3>
                        <p class="text-gray-600 dark:text-gray-400 mb-4 text-sm">{{ post.excerpt | strip_html | truncatewords: 20 }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </main>
        {% include sidebar.html %}
    </div>
</div>